<!DOCTYPE html>
<html>
<head>
    <title>PDF RAG</title>
</head>
<body>

    <h1>PDF RAG System</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="pdf" accept=".pdf">

        <button type="submit">Upload PDF</button>
    </form>

    <h2>Ask a Question</h2>

    <form method="POST">
        {% csrf_token %}

        <input
            type="text"
            name="question"
            placeholder="Ask something about the PDF"
            required
        >

        <button type="submit">Ask</button>
    </form>

    {% if retrieved_chunks %}

        <h2>Retrieved Context</h2>

        {% for chunk in retrieved_chunks %}

            <hr>

            <p>
                <strong>Relevant Chunk {{ forloop.counter }}</strong>
            </p>

            <pre>{{ chunk }}</pre>

        {% endfor %}

    {% endif %}

    {% if extracted_text %}
        <h2>Extracted Text:</h2>
        <pre>{{ extracted_text }}</pre>
    {% endif %}

    {% if chunks %}
        <h2>Chunks: {{ chunks|length }}</h2>

        {% for chunk in chunks %}
            <hr>
            <p><strong>Chunk {{ forloop.counter }}</strong></p>
            <pre>{{ chunk }}</pre>
        {% endfor %}
    {% endif %}

    {% if embedding_count %}
        <h2>Embeddings Generated</h2>

        <p>Total vectors: {{ embedding_count }}</p>
    {% endif %}

</body>
</html>