<!DOCTYPE html>
<html>
<head>
    <title>PDF RAG</title>
</head>

<body>

    <h1>PDF RAG System</h1>

    <!-- PDF Upload -->
    <h2>Upload PDF</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input
            type="file"
            name="pdf"
            accept=".pdf"
            required
        >

        <button type="submit">
            Upload PDF
        </button>
    </form>

    {% if upload_message %}
        <p><strong>{{ upload_message }}</strong></p>
    {% endif %}

    {% if response_message %}
        <p><strong>Response:</strong> {{ response_message }} | <strong>HTTP Status:</strong> {{ request_status }}</p>
    {% endif %}


    <!-- Ask Question -->
    <h2>Ask a Question</h2>

    <form method="POST">
        {% csrf_token %}

        <input
            type="text"
            name="question"
            placeholder="Ask something about the PDF"
            required
        >

        <button type="submit">
            Ask
        </button>
    </form>


    <!-- Retrieved Context -->
    {% if retrieved_chunks %}

        <h2>Retrieved Context</h2>

        {% for chunk in retrieved_chunks %}

            <div>
                <h3>Relevant Chunk {{ forloop.counter }}</h3>

                <p>
                    {{ chunk }}
                </p>
            </div>

        {% endfor %}

    {% endif %}


    <!-- Answer -->
    {% if answer %}

        <h2>Answer</h2>

        <p>
            {{ answer }}
        </p>

    {% endif %}

</body>
</html>

